<div class="flex-center-content">
  <mat-card class="cool-card-style">
    <mat-card-header>
      <mat-card-title style="margin-left:3vh; font-size: 24px; margin-bottom: 1vh; color: aliceblue">Your Stats</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="flex-center-flex-start">
        <label class="small-header">You have clicked:</label>
        <label class="small-header" style="color: #FF5733;">
          {{clickCount}}
        </label>
        <label class="small-header">
          times on my website.. Thanks!
        </label>
      </div>

      <div class="flex-center-flex-start" style="margin-top:2vh">
        <label class="small-header">Your mouse has travelled:</label>
        <label class="small-header" style="color: #FF5733;">
          {{totalMouseDistance | number:'1.2-2'}}m
        </label>
        <label class="small-header">
          Wow!
        </label>
      </div>

      <div class="flex-center-flex-start" style="margin-top:2vh">
        <label class="small-header">You have spent:</label>
        <label class="small-header" style="color: #FF5733;">
          {{timerCount}}s
        </label>
        <label class="small-header">
          seconds on my website.. Thanks again!
        </label>
      </div>

      <div class="flex-center-flex-start" style="margin-top:2vh">
        <label class="small-header">Should you hire me:</label>
        <div style="margin-left:20px">
          <button mat-raised-button (click)="yesClick()">Yes</button>
          <button mat-raised-button (click)="noClick()">No</button>
        </div>
        <label class="small-header" style="color: #FF5733;">
          {{hireSelection}}
        </label>
      </div>

    </mat-card-content>
  </mat-card>
</div>

