.information-section{
  height: 100vh;
  background-color: lightgray;
}

.information-section-top{
  display: flex;
  align-items: center;
  justify-content: center;
}


.card-style{
  border-width: 3px;
  background: lightgray;
  border-radius: 70px;
  margin: 2.5vh 2.5vh 1.25vh 1.25vh;
  width: 100%;
}

.accordion-style{
  background: #121212;
  margin: 1vh 3vh;
}

.card-style:hover{
  box-shadow: 0 0 10px 5px #FF5733;
}
