<div #informationSection class="information-section">
<!--  <div class="information-section-top">-->
    <mat-card class="card-style">
      <mat-card-header>
        <mat-card-title style="margin-left:3vh; font-size: 24px; margin-bottom: 1vh; color: aliceblue">Experience</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel class="accordion-style" *ngFor="let experience of allExperiences.experiences">
            <mat-expansion-panel-header>
              <mat-panel-title class="text-font-size">
                {{experience.position}}
              </mat-panel-title>
              <mat-panel-description *ngIf="!(isSmallScreen | async)">
                {{experience.locationAndDate}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <span *ngIf="(isSmallScreen | async)">
              <ng-container *ngTemplateOutlet="locationIfSmallScreen; context: {companyAndLocation: experience.locationAndDate}"></ng-container>
            </span>
            <p *ngFor="let body of experience.body" class="text-font-size">{{body}}</p>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
<!--  </div>-->

<!--  <div class="information-section-top">-->
    <mat-card class="card-style">
      <mat-card-header>
        <mat-card-title style="margin-left:3vh; font-size: 24px; margin-bottom: 1vh; color: aliceblue">Projects</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel class="accordion-style" *ngFor="let projects of allProjects.experiences">
            <mat-expansion-panel-header>
              <mat-panel-title class="text-font-size">
                {{projects.position}}
              </mat-panel-title>
              <mat-panel-description *ngIf="!(isSmallScreen | async)">
                {{projects.locationAndDate}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <span *ngIf="(isSmallScreen | async)">
              <ng-container *ngTemplateOutlet="locationIfSmallScreen; context: {companyAndLocation: projects.locationAndDate}"></ng-container>
            </span>
            <p *ngFor="let body of projects.body" class="text-font-size">{{body}}</p>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
<!--  </div>-->

<!--  <div class="information-section-top">-->
    <mat-card class="card-style">
      <mat-card-header>
        <mat-card-title style="margin-left:3vh; font-size: 24px; margin-bottom: 1vh; color: aliceblue">Education</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel class="accordion-style">
            <mat-expansion-panel-header>
              <mat-panel-title class="text-font-size">
                Ryerson University
              </mat-panel-title>
              <mat-panel-description *ngIf="!(isSmallScreen | async)">
                2017 - 2021
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p class="text-font-size"> Bachelor of Computer Engineering</p>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>

<!--  </div>-->
</div>

<ng-template #locationIfSmallScreen let-companyAndLocation='companyAndLocation'>
  <p class="text-font-size" style="display: flex; justify-self: center; align-self: center; color: #FF5733">{{companyAndLocation}}</p>
</ng-template>


