<div id="particles-js"></div>
<div class="stack-headers">
  <label class="big-header fly-in-right" style="margin-top: 20vh">Mateja</label>
  <label class="big-header fly-in-right">Milovanovic</label>
  <div class="flex-center-content" style="margin-top: -8vh">
    <a href="https://www.linkedin.com/in/mateja-milovanovic-765b80183/" target="_blank" >
    <button mat-raised-button class="hero-button">
        <img src="assets/linked-in-logo.png" alt="github" class="button-logo" loading="lazy">
    </button>
    </a>
    <a href="https://github.com/m-Mateja" target="_blank" >
    <button mat-raised-button class="hero-button">
      <img src="assets/github-logo.png" alt="github" class="button-logo" loading="lazy">
    </button>
    </a>
    <button mat-raised-button class="hero-button">Resume</button>
  </div>
  <div class="flex-center-content" style="margin-top: 8vh">
    <button mat-icon-button class="arrow-down">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>
</div>



