<div id="particles-js"></div>
<div class="stack-headers">
  <label class="big-header fly-in-right" style="margin-top: 20vh">Mateja</label>
  <label class="big-header fly-in-right">Milovanovic</label>
  <div class="flex-center-content" style="margin-top: -8vh">
    <button mat-raised-button class="hero-button">linkedIn</button>
    <button mat-raised-button class="hero-button">Github</button>
    <button mat-raised-button class="hero-button">Resume</button>
  </div>
  <div class="flex-center-content" style="margin-top: 8vh">
    <button mat-icon-button class="arrow-down">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>
</div>



