<div id="particles-js"></div>
<div class="stack-headers">
  <label class="big-header fly-in-right" style="margin-top: 10vh; z-index: -1">Mateja</label>
  <label class="big-header fly-in-right" style="z-index: -1">Milovanovic</label>
  <div class="flex-center-content">
    <a href="https://www.linkedin.com/in/mateja-milovanovic-765b80183/" target="_blank" >
    <button mat-raised-button class="hero-button fly-in-right">
        <img src="assets/linked-in-logo.png" alt="github" class="button-logo" loading="lazy">
    </button>
    </a>
    <a href="https://github.com/m-Mateja" target="_blank" >
    <button mat-raised-button class="hero-button fly-in-up">
      <img src="assets/github-logo.png" alt="github" class="button-logo" loading="lazy">
    </button>
    </a>
    <a href="assets/Mateja_Milovanovic_Software_Engineer_2024.pdf" target="_blank" style="text-decoration: none">
      <button mat-raised-button class="hero-button fly-in-left">Resume</button>
    </a>
  </div>
  <div class="flex-center-content" style="margin-top: 8vh">
    <button mat-icon-button class="arrow-down" (click)="downArrowClick()">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>
</div>
<div style="display: flex; justify-content: flex-end; align-items: center;">
  <h3 style="color: aliceblue; margin: -10vh 10px 0 0;">Powered By: </h3>
  <img src="assets/Angular_gradient.png" alt="Angular 17" class="button-logo" style="margin-top:-10vh" loading="lazy">
</div>



