/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";

html, body { height: 100%; }
body { margin: 0; font-family: "mateja-custom-font-bold"; background-color: #121212;}

.primary-color{
  background-color: darkorange;
}

.flex-center-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-center-flex-start{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.big-header{
  font-family: "mateja-custom-font-bold";
  font-style: normal;
  font-weight: bold;
  letter-spacing: -10px;
  line-height: 130px;
  text-transform: none;
  font-size: 15vw;
  color: aliceblue;
  margin: 2.5vw 0 3.5vw 0;
}

.medium-header{
  font-family: "mateja-custom-font-bold";
  font-style: normal;
  font-weight: bold;
  /*letter-spacing: -10px;*/
  line-height: 90px;
  text-transform: none;
  font-size: 70px;
  color: aliceblue;
  margin: 2.5vw 0 3.5vw 0;
}

.small-header{
  font-family: "mateja-custom-font-bold";
  font-style: normal;
  font-weight: bold;
  /*letter-spacing: -10px;*/
  line-height: 40px;
  text-transform: none;
  font-size: 24px;
  color: aliceblue;
  display: flex;
  margin-left: 30px;
}

.fly-in-right{
  animation: flyInFromLeft 1s ease-in-out forwards;
}
.fly-in-left{
  animation: flyInFromRight 1s ease-in-out forwards;
}
.fly-in-up{
  animation: flyInFromBottom 1s ease-in-out forwards;
}

.grid-1-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin: 5px;
  padding: 5px;
}

.mdc-button.mdc-button--raised.mat-mdc-raised-button{
  margin :5px;
  border-radius: 70px;
  background-color: #FF5733;
}

/*Animations*/
@keyframes fallFromTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes flyInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes flyInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes flyInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes bounceIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  70% {
    transform: translateY(-10%);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5%);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(0);
  }
}

@keyframes grow {
  0% {
    box-shadow: 0 0 0 0 #FF5733;
  }
  100% {
    box-shadow: 0 0 10px 5px #FF5733;
  }
}



