/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";
html, body { height: 100%; }
body { margin: 0; font-family: mateja-custom-font-bold, sans-serif; background-color: #121212;}

.primary-color{
  background-color: darkorange;
}

.big-header{
  font-family: mateja-custom-font-bold, sans-serif;
  font-size: 54px;
  color: aliceblue;
  margin: 25px;
}

.grid-1-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin: 5px;
  padding: 5px;
}

.mdc-button.mdc-button--raised.mat-mdc-raised-button{
  margin :5px;
  border-radius: 70px;
  background-color: darkorange;
}

/*Animations*/
@keyframes fallFromTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


